* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    font-family: 'Montserrat', '微软雅黑', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

main {
    height: 100%;
    transition: all .2s;
    padding-top: 100px;
}

.index .first {
    height: 700px;
}

.first {
    width: 100%;
    height: 255px;
    box-sizing: border-box;
    position: relative;
}
.first:not(.one-first):before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
    filter: contrast(.9);
    /*opacity: .95;*/
    background-size: cover;
    background-position: 50% 47%;
    background-repeat: no-repeat;
    background-image: url("../img/shopping-bg.jpg");
}

.first:not(.one-first):after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}




.second {
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
}

.third {
    width: 100%;
    height: 1150px;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}

.container {
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 5px;
    z-index: 10;
    position: relative;
}

/*  颜色  */
.pagecolo {
    color: #BD1111;
    color: #BDBDBD;
    color: #011935;
    color: #00343F;
    color: #1DB0B8;
    color: #37C6C0;
    color: #D0E9FF;
    color: #721532;
    color: #8FA9D6;
    color: #E0C0AB;
    color: #323341;
    color: #434664;
    color: #000000;
    color: #1A1A1A;
    color: #FFFFFF;
    color: #9CCDD9;
}

.foot:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    box-shadow: inset 0 3px 10px 0px rgba(0, 0, 0, .7);
    z-index: 10;
}

/*-----------------*/
.onder-foot {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    margin: 20px 0;
}

.onder-foot .container ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}

.onder-foot .container ul li {
    flex: 0 0 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot {
    width: 100%;
    height: 420px;
    box-sizing: border-box;
    position: relative;
}

.foot .foot-top {
    width: 100%;
    height: 88%;
    background-color: rgba(0, 0, 0, 0.88);
}

.foot .foot-bottom {
    width: 100%;
    height: 12%;
    background-color: rgba(0, 0, 0, 1);
}

.foot-top .container {
    display: flex;
}

.foot-top .container .foot-module {
    flex: 0 0 25%;
    display: flex;
    flex-flow: column;
    padding: 70px 30px 0 30px;
}

.foot-module b {
    color: #fff;
    font-size: 1.35em;
    font-family: "Segoe UI", "微软雅黑", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    opacity: .89;
}

.foot-module p {
    line-height: 27px;
    position: relative;
    color: #fff;
    font-family: "微软雅黑", sans-serif;
    font-weight: 100;
    font-size: .97em;
    opacity: .6;
}

.foot-module:nth-child(2) div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

}

.foot-module:nth-child(2) div i {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: #fff;
    opacity: .6;

}

.foot-module:nth-child(2) div p {
    width: 190px;
    margin-left: 10px;
    height: auto;
    line-height: 25px;
    font-size: .91em;
}

.foot-module:nth-child(3) p {
    width: 222px;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.foot-module:nth-child(3) p a {
    border: 1px solid white;
    color: #fff;
    font-size: .95em;
    padding: 2px 11px;
    margin: 4px 8px 4px 0px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.foot-module:nth-child(3) p a:hover {
    border: 1px solid rgba(255, 122, 122, 1);
    color: rgb(255, 122, 122);
}

.foot-module:nth-child(4) p {
    padding: 10px 0;
    line-height: 40px;
}

.foot-module:nth-child(4) p a {
    font-size: 2.1em;
    margin-right: 5px;
    opacity: .8;
    cursor: pointer;
}

.foot-module:nth-child(4) p a:hover {
    opacity: 1;
}

.foot-bottom .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-bottom .container span{
    color: #fff;
    font-size: .8em;
    letter-spacing: 1px;
    opacity: .7;
    font-weight: 200;
    font-family:"微软雅黑","Segoe UI",sans-serif;

}
