* {
    padding: 0;
    margin: 0;
}

ul{
    width:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 100px;
    box-sizing: border-box;

}

ul li{
    flex: 0 0 20%;
    /*width: 100%;*/
    display: inline-flex;
    padding: 8px 20px;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: .77em;
    transition: all .2s ease-in-out;
    position: relative;
    box-sizing: border-box;
}



ul li:hover{
    background-color: rgba(0, 0, 0, .2);
}

ul li ol{
    left: 0;
    top: 100%;
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .05);
    transition: all .15s ease-in-out;
}

ul li:nth-child(2) ol li{
    width: 100%;
    padding: 8px ;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

ul li:not(:nth-child(5)) {
    border-right: 1px solid rgba(0, 0, 0, 1);
}

ul li:nth-child(2):hover ol{
    border: 1px solid rgba(0, 0, 0, 1);
    height: 165px;
}

ul li:nth-child(2) ol li:nth-child(2) ul{
    position: absolute;
}

