<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>弹性盒子布局（FlexBox）</title>
    <link href="flexbox.css" rel="stylesheet">
</head>
<body>
<div id="all">
    
    <!-- 头部 -->
    <div id="header">
        <div class="example">Header</div>
    </div>
    
    <!-- 中间 -->
    <div id="main">
        
        <!-- 中间左侧 -->
        <div id="left">
            <div class="example">Left</div>
        </div>
        
        <!-- 中间右侧 -->
        <div id="content">
            <div class="example">Content</div>
        </div>
        
    </div>
    
    <!-- 底部 -->
    <div id="footer">
        <div class="example">Footer</div>
    </div>
</div>
</body>
</html>
