<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>多栏布局-栅格系统</title>
    <link href="../../../public/library/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="grid.css" rel="stylesheet">
</head>

<body>

<!-- 头部 -->
<div id="header">
    <div class="row clearfix">
        <div class="col-12">
            <div class="example">Header</div>
        </div>
    </div>
</div>

<!-- 主体 -->
<div id="main" style="height: 79%;">
    <div class="container" style="height: 100%">
        <div class="example">Center</div>
    </div>
</div>

<!-- 底部 -->
<div id="footer">
    <div class="row clearfix">
        <div class="col-12">
            <div class="example">Footer</div>
        </div>
    </div>
</div>

</body>
</html>
