@charset "UTF-8";

:root {
    --white: #FFFFFF;
    --lightBackground: #ececec;
    --lightBackground2: #f5f5f5;
    --globalGray: #DDDDDD;
    --boxShadow: rgba(0, 0, 0, 0.1);
    --sidebarBG: linear-gradient(45deg, #0c434f 0%, #0b4e59 99%, #0b4e59 100%);

}

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    overflow: hidden;
}

.container-fluid {
    min-height: 100%;
    height: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(240, 240, 240, 0.5);
}

.index.container-fluid {
    background-color: var(--lightBackground2);
    padding: 0;
    height: 100%;
}

#LIONSUN {
    display: inline-flex;
    align-items: center;
    width: auto;
    opacity: 0.8;
    border: 0;
}

#LIONSUN:hover {
    opacity: 1;
}

#LIONSUN span.logoTitle {
    font-size: 22px;
    font-family: Arial, arial, sans-serif;
    vertical-align: middle;
    margin-left: 5px;
    color: #999 !important;
}

#LIONSUN span.navbar-toggler-icon {
    vertical-align: bottom;
    font-size: 18px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

/*--------------------------------
              侧边栏
---------------------------------*/
#sidebar {
    width: 0;
    height: 100%;
    border-right: 1px solid var(--globalGray);
    /*box-shadow: 2px 0 5px 0 var(--boxShadow);*/
    background-color: transparent;
    transition: all .3s;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

#sidebar::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 0;
    background-color:#0c434f;
}

@media (max-width: 576px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
    }
}

#sidebar .card {
    background-color: transparent;
}

.doc-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#sidebar.open {
    width: 230px;
    opacity: 1;
}

.sidebarMenu {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebarMenu > a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 25px;
    font-size: 12px;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-family: "微软雅黑", Arial, sans-serif;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.sidebarMenu > a:hover {
    color: rgba(255, 255, 255, 1) !important;
    /*background-color: rgba(255, 255, 255, 0.08);*/
}

#sidebar-title,
.sidebar-card,
.sidebarMenu {
    width: 230px !important;
    min-width: 230px !important;
}

.sidebar-card-header {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0 !important;
    border: 0;
}

.sidebar-card-header a {
    width: 100%;
    display: block;
    padding: 12px 20px;
    border-radius: 0 !important;
    color: rgba(240, 240, 240, 0.7);
    font-size: 15px !important;
    transition: all .2s;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.sidebar-card-header > a > i.fa-angle-right {
    position: absolute;
    right: 25px;
    top: 17px;
    font-size: 12px !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    transform: rotate(90deg);
    transition: all .3s;
}

.sidebar-card-header > a.collapsed > i.fa-angle-right {
    transform: rotate(0deg);
}

.sidebar-card-header > a > i:not(.fa-angle-right) {
    position: relative;
    margin-right: 12px;
    font-size: 15px !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.sidebar-card-header:hover > a {
    color: #FFFFFF;
}

.sidebarMenu a.active {
    color: rgba(255, 255, 255, 1) !important;
    border: rgba(12, 84, 96, 0.1);
    /*background-color: rgba(255, 255, 255, 0.1);*/
}

.sidebarMenu a.disabled {
    opacity: 0.5;
}

.example-item {
    width: 100%;
    padding: 5px;
    position: relative;
    margin-bottom: 20px;
}

.example-item .example-dom {
    padding: 25px 30px 30px;
    background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
    position: relative;
    top: 5px;
    box-shadow: 0 10px 35px 0 rgba(154, 161, 171, .15);
}

/*--------------------------------
          右侧主体内容显示
---------------------------------*/
#main {
    flex: 1;
    background-color: var(--lightBackground);
    height: 100%;
    padding-top: 50px;
    position: relative;
}

#main > #header {
    position: absolute;
    top: 0;
    width: 100%;
}

#main > #header .navbar-toggler {
    outline: 0 !important;
}

#main > #header .navbar-toggler:hover {
    background-color: #ececec;
}

#frame {
    width: 100%;
    height: 100%;
    position: relative;
}

#main-title {
    color: #888 !important;
}

.docs {
    color: rgba(12, 84, 96, 1) !important;
    font-weight: 700;
}

.docs.active {
    color: #FFF !important;
}

.layout-img {
    border-bottom: 1px solid #ddd;
}

.layout-img img {
    transition: all .3s;
    width: 100%;
    min-height: 164px !important;
    max-height: 164px !important;
}

.layout-img:hover img {
    filter: brightness(0.9);
}

.layout-card {
    min-height: 265px !important;
    margin-bottom: 20px;
    border-radius: 0 !important;
}

.layout-card .card-body {
    border-radius: 0 !important;
}

.layout-card .card-title {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*.layout-card-box{*/
/*min-width: 200px;*/
/*}*/

.code-boxes {
    padding: 30px;
    height: auto;
}

blockquote.custom {
    padding: 15px 20px;
    margin: 0 0 10px;
    border-left: 5px solid #999;
    background-color: #FFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.text-hight {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    color: #e83e8c;
}

#sidebar-title > h1 {
    font-family: "Cabin Condensed", sans-serif;
    color: rgba(255, 255, 255, 0.9) !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);

}

.example-card {
    margin-bottom: 20px;
}

.example-card .text-muted {
    font-size: 14px;
}

.example-card .card-footer {
    background-color: #fff;
    text-align: center;
}

.example-card .show-this-codes {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.8) !important;
    box-shadow: none !important;
    outline: 0 !important;
    border: 1px solid #ddd;
    transition: all .3s ease;
    color: #666;
    font-size: 16px;
}

.example-card .card-footer .show-this-codes:hover {
    background-color: rgba(236, 236, 236, 0.5);
}

.example-card .show-this-codes > .fa-caret-down {
    transition: all .3s ease;
    transform: rotate(0deg);
}

.example-card .show-this-codes.yes > .fa-caret-down {
    transform: rotate(180deg);
}

.code-shows-box {
    width: 100%;
    height: 0;
    max-height: 500px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.code-shows-box.visibles {
    height: auto;
    max-height: 500px;
    visibility: visible;
    opacity: 1;
}


.yes-list-style {
    list-style-position: inside !important;
}

.yes-list-style li {
    list-style: unset !important;
}
