<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>双飞翼布局</title>
    <link href="HolyGrail.css" rel="stylesheet">
</head>

<body>

<div id="container">
    
    <div id="header">
        <div class="example">Header</div>
    </div>
    
    <div id="main">
        
        <div id="left">
            <div class="example">Left</div>
        </div>
        <div id="center">
            <div class="example">Center</div>
        </div>
        <div id="right">
            <div class="example">Right</div>
        </div>
    
    </div>
    
    <div id="footer">
        <div class="example">Footer</div>
    </div>

</div>
</body>
</html>
